.sidebar-container {
    position: relative;
    max-width: 310px;
}

.sidebar-container .menu-icon{
    position: fixed;
    top: 15px;
    left: 10px;
    color: dark;
    background-color: white;
    padding: 5px 6px;
    border-radius: 50%;
    z-index: 50;
    cursor: pointer;
    border: .5px solid var(--gridColor);
    font-size: 15px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    overflow: hidden;
    background: rgb(33, 33, 33);
    color: white;
    padding: 50px 15px 20px;
}

.month-grid-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #868f97;
    margin-bottom: 3px;
}

.sidebar .sidebar-month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 30px);
    text-align: center;
    font-size: 11px;

    padding-bottom: 15px;

    border-bottom: 1px solid var(--gridLabelColor);
}

.sidebar .sidebar-month-grid .cell {
    cursor: pointer;
    transition: .2s ease;
}

.sidebar .sidebar-month-grid .cell.non-current-month {
    color: #868f97;
    cursor: not-allowed;
}


.sidebar .sidebar-month-grid .cell p , .year-view .cell p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80%;
    padding: 4px 0px;
    border-radius: 50%;
    max-width: 25px;
}

.sidebar .sidebar-month-grid .cell.with-dots p, .year-view .cell.with-dots p{
    padding: 2px 6px;
}

.sidebar .sidebar-month-grid .cell.today p, .year-view .cell.today p{
    background: #6f42c1;
    color: white;
}

.sidebar .sidebar-month-grid .cell.selected p{
    background: var(--primaryColor);
}

.sidebar .sidebar-month-grid .cell.non-current-month:hover p, .year-view .cell.non-current-month:hover p{
    border: none;
}

.sidebar .sidebar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: capitalize;
    border-top: 1px solid var(--gridLabelColor);
    padding-top: 7px;
}

.sidebar .sidebar-navigation .nav-button {
    cursor: pointer;
    padding: 0 8px;
    border-radius: 50%;
}

.sidebar .sidebar-navigation .nav-button:hover {
    background: var(--gridLabelColor);
}



/* DOTS */
.sidebar .sidebar-month-grid .cell p .event-points, .year-view .cell p .event-points{
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
}

.cell.today p .event-points {
    color: chartreuse;
}

.cell p .event-points .point:nth-child(5n) {
    color: green;
}

.cell p .event-points .point:nth-child(5n + 2) {
    color: yellow;
}

.cell p .event-points .point:nth-child(5n + 3) {
    color: red;
}

.cell p .event-points .point:nth-child(5n + 4) {
    color: chartreuse;
}