.sidebar-container {
    position: relative;
    max-width: 310px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    overflow: hidden;
    padding: 58px 15px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.month-grid-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #868f97;
    margin-bottom: 3px;
}

.sidebar-month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 30px);
    text-align: center;
    font-size: 11px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--calendarOpacityBlack);
}

.sidebar-month-grid .cell {
    cursor: pointer;
    transition: .2s ease;
}

.sidebar-month-grid .cell.non-current-month {
    color: #868f97;
    cursor: not-allowed;
}


.sidebar-month-grid .cell p, .year-view .cell p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 80%;
    padding: 4px 0px;
    border-radius: 50%;
    max-width: 25px;
}

.sidebar-month-grid .cell.with-dots p, .year-view .cell.with-dots p {
    padding: 2px 6px;
}

.sidebar-month-grid .cell.today p, .year-view .cell.today p {
    background: var(--calendarPrimaryColor);
    color: white;
}

.sidebar-month-grid .cell.selected p {
    color: white;
    background: var(--calendarPrimaryColor);
}

.sidebar-month-grid .cell.non-current-month:hover p, .year-view .cell.non-current-month:hover p {
    border: none;
}

.sidebar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: capitalize;
    border-top: 1px solid var(--calendarOpacityBlack);
    padding-top: 7px;
}

.sidebar-navigation .nav-button {
    cursor: pointer;
    padding: 0 8px;
    border-radius: 50%;
}

.sidebar-navigation .nav-button:hover {
    background: var(--gridColor);
}



/* DOTS */
.sidebar-month-grid .cell p .event-points, .year-view .cell p .event-points {
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--calendarPrimaryColor);
}

.cell.today p .event-points {
    color: chartreuse;
}

.cell p .event-points .point:nth-child(5n) {
    color: green;
}

.cell p .event-points .point:nth-child(5n + 2) {
    color: yellow;
}

.cell p .event-points .point:nth-child(5n + 3) {
    color: red;
}

.cell p .event-points .point:nth-child(5n + 4) {
    color: chartreuse;
}


@media screen and (max-width: 768px) {
    .sidebar-container {
        display: none;
    }
}